


.contact{
    width: 100%;
    height: 100vh;
    background: #f7f5f2;
    padding-top: 70px;
  }
  .contact .container{
    width: 100%;
    height: 80vh;
    background: white;
    background: linear-gradient(90deg, white 80%, #0a81a5 20%);
    border-radius: 10px;
  }
  .heading6{
    font-size: 30px;
    font-weight: bold;
    margin-top: 70px;
  }
  .heading6 span{
    color: #0a81a5;
  }
  .contact p{
    font-weight: bold;
    font-size: 13px;
    color: black;
  }
  .contact input{
    width: 360px;
    border: none;
    border-bottom: 1px solid;
  }
  #contact-btn{
    width: 200px;
    height: 36px; 
    border: none;
    background: #0a81a5;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    cursor: pointer;
  }
  #col{
    width: 40%;
    height: 56vh;
    background: black;
    margin-top: 78px;
  }
  .contact h1{
    color: white;
    font-size: 25px;
    margin-top: 10px;
    margin-left: 10px;
  }
  .contact #col p{
    font-size: 15px;
    color: white;
    margin-left: 13px;
    padding-top: 30px;
  }
  @media screen and (max-width:766px){
    .contact .container{
    background: white;
    }
    #col{
      width: 100%;
      background: #0a81a5;
    }
    .contact{
      height: 150vh;
    }
  }
  @media screen and (max-width:400px){
    .contact input{
      width: 250px;
    }





    footer .brand{
        font-family: var(--lg-font);
        letter-spacing: 2px;
        }
        footer a{
        transition: color 0.3s ease;
        }
        footer a:hover{
        color: blue;
        }
        .bg-primary{
            background-color:blue !important ;
        }
        .btn:not(.nav-btns button){
            background-color: #fff;
            color: rgb(05,05 ,05 );
            padding: 10px 25px;
            border-radius: 25px;
            border: 1px solid rgb(05, 05,05 );
        }
        .btn:not(.nav-btns button):hover{
            background-color: blue;
            color: #fff;
            border-color: black;
        }
      }